<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Shaken,not stirred</h1>
      <p class="lead text-muted">Where you can keep all your infamous cocktails at hand and in one place!</p>
      <p>
        <a href='/login' class="btn btn-primary my-2" style="background-color:black;border-color:black;">Log in</a>
        <a href='/auth/facebook' class="btn btn-secondary my-2" style="background-color:black;border-color:black;">Log in with Facebook!</a>
        <a href='/users/new' class="btn btn-secondary my-2" style="background-color:black;border-color:black;">Sign up</a>
      </p>
    </div>
  </section>




