<section class="jumbotron text-center">
    <div class="container">
<h2><%= current_user.username %>'s Cocktails: </h2>
<br>

 <% @cocktails.order(:name).each do |cocktail| %>
    <li> <%= link_to cocktail.name, cocktail_path(cocktail) %> </li>
    <% end %>

    </div>
</section>