<section class="jumbotron text-center">
    <div class="container">
<h2> All Ingredients: </h2>

<% @ingredients.each do |ing| %>
    <li><%= link_to ing.name, ing %></li>
    <% end %>

    </div>
</section>