<section class="jumbotron text-center">
    <div class="container">

    <h2> Add an Ingredient:</h2>
    <%= form_with model: @ingredient, local: :true do |f| %>
        <br>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
        <br>
        <br>
        <%= f.submit %>
    <% end %>  
    <br>
    <br>
    </div>
</section>  